
selected path.link {
	fill: none;
	stroke: red;
	stroke-width: 5px;
}

.mainHeader{
	color: white;
	text-align: center;
	font: 20px "Century Gothic", Futura, sans-serif;
}

.mainFooter{
	color: gray;
	text-align: center;
	font: 14px "Century Gothic", Futura, sans-serif;
	border-top: 20px white;
	margin:0;
}

g:first-of-type text {
    transform: translate(0, 5px);
}

.contentStyle{
	display: flex;
	justify-content:space-between;
}

.detailPanelMainStyle{
	display: inline-block;
	/*position: relative;*/

}

.detailPanelStyle{
	/*border-left-style: dotted;*/
	border-left-color: white;
	border-left-width: 2px;
	/*padding-left: 10px;*/
	border-radius: 10px;
	/*background: rgba(255,255,255,0.15);*/
	background: rgba(52, 189, 235,1); /*52, 189, 235*/ /*0, 116, 156*/
}

.detailPanelStyle p{
	color: white;
	text-align: center;
	font: 14px "Century Gothic", Futura, sans-serif;
}

.detailHeader{
	padding-top: 15px;
}

.sampleImage img{
	border: 2px solid white;
	margin: 1px;
	width: 50px;
	height: 50px;
	display: inline-block;
	/*justify-content: center;
	align-items: center;*/
}

.sampleImage img:hover{
	cursor: pointer;
}

.imageBox{
	/*border: 2px solid white;*/
	border-radius: 10px;
	background: rgba(55,55,55,1); /*rgba(255,255,255,0.25)*/
	padding: 5px;
	/*margin: auto;*/
	min-height: 75px;
	/*min-width: 168px;*/
	min-width: 450px;
	max-width: 1200px;
}

.spaceing{
	padding-bottom: 5px;
}

.info{

}

.info p, label{
	color: white;
	text-align: left;
	font: 12px "Century Gothic", Futura, sans-serif;
}

.info a{
	color: rgba(52, 189, 235,1);
	text-align: left;
	text-decoration: none;
	font: 12px "Century Gothic", Futura, sans-serif;
}

.info a:hover{
	color: rgba(7, 130, 171,1);
}

.info span{
	color: white;
	font: 12px "Century Gothic", Futura, sans-serif;
	padding:3px;
}

.custom-table{
	border:50px;
	border-color:red;
}

table{
	border-collapse: collapse !important;
	/*width: 100% !important;*/
}
td, th{
	border: 2px solid #3d3d3d !important; /*#ddd;*/
  	padding: 8px !important;
}

tr:hover:not(.ka-thead-row) {background-color: #4d4d4d;}

tr:nth-child(even){background-color: #404040;}

tr:is(.ka-thead-row){background-color: /*#292929*/ #1f1f1f;}

/*
.custom-theme-demo{
	min-width: 750px;
}

tbody{
	display:block;
	overflow-y:scroll;
	max-height:60vh;
}

thead tr{
	display:block;
}
*/


/*-------*/
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: #ccc;*/
  background-image: linear-gradient(to bottom, #1f1f1f 0%, #303030 100%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /*background-color: rgba(52, 189, 235,1);*/
  background-image: linear-gradient(to bottom, #34bdeb 0%, #2381a1 100%);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(52, 189, 235,1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*--------------*/
.challenge2Outer input {
  opacity: 0;
  width: 0;
  height: 0;
  margin:0;
}

.challenge2{
	cursor: pointer;
	border: 0;
	
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	text-decoration: none;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	background-image: linear-gradient(to bottom, #1f1f1f 0%, #303030 100%);
	color:gray !important;
	
	padding: 5px 12px !important;
	border-radius: 50px;

	margin-block-start:0.3em;
	margin-block-end: 0.3em;

	-webkit-transition: .4s;
  	transition: .4s;

  	float: left;
  	margin-right: 3px;
}

.challenge2:before{
	content: "";
}

.challengeLabel:before {
	content: attr(data-off);
}

.challengeLabel:after {
	content: attr(data-on);
}

input:checked + .challenge2 {
	color: white !important;
	background-image: linear-gradient(to bottom, #34bdeb 0%, #2381a1 100%); 
	/*green:*/ /*linear-gradient(to bottom, #33b83a 0%, #288f2d 100%);*/
	/*blue:*/ /*linear-gradient(to bottom, #34bdeb 0%, #2381a1 100%);*/
}
/*
input:focus + .challenge2 {
	box-shadow: 0 0 1px rgba(52, 189, 235,1);
}
*/

input:checked + .challenge2:before {
	color:gray !important;
	background-image: linear-gradient(to bottom, #1f1f1f 0%, #303030 100%);
}


/*--------------*/

.challenge{
	border: 0;
	color: white;
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	text-decoration: none;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	/*margin-left: 8px;*/
	padding: 5px 12px;
	border-radius: 50px;

	margin-block-start:0.3em;
	margin-block-end: 0.3em;
}

.challengeTrue{
	background-image: linear-gradient(to bottom, #33b83a 0%, #288f2d 100%);
}

.challengeFalse{
	color:gray !important;
	background-image: linear-gradient(to bottom, #1f1f1f 0%, #303030 100%);
}

.hoverImg{
	/*display: hidden;*/
	/*visibility: hidden;*/
	padding-left: 50px;
	transition: 2s;
}

/*
.hoverImg:hover{
	display: block;
	-webkit-transition: 2s;
  	transition: 2s;
}
*/

.helpDiv{
	padding-top: 10px;
	padding-bottom: 40px;
}

.helpDiv button{
	color: white !important;
	font: 12px "Century Gothic", Futura, sans-serif;
	background-image: linear-gradient(to bottom, #34bdeb 0%, #2381a1 100%); 
}

.listText{
	float:left;
	padding-right:5px;
	margin-top:8px;
}